<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "tulis dah status se-enak perut disini..." %>
    </div>
    <%= f.submit "caws", class: "btn btn-medium btn-primary" %>
<% end %>